---
//@ts-nocheck
import { late } from "astro:schema";
import GalleryTab from "../components/GalleryTab.astro";
import SelectButton from "../components/SelectButton.astro";
import Layout from "../layouts/Layout.astro";

const baseUrl = "https://zyxwycthnsawqveghsdr.supabase.co/rest/v1/galleri";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5eHd5Y3RobnNhd3F2ZWdoc2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgzNDI1MDcsImV4cCI6MjA2MzkxODUwN30.oKnpJzXhTYqQFPO7ebhUAXa2BuuhEH7Mxzho0VghZeI";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(baseUrl + "?order=year.desc", options).then((res) => {
  return res.json();
});

const formatDate = (dateString) =>
  new Date(dateString).toLocaleDateString(undefined, {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
---

<Layout>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".selector a").forEach(function (el: any) {
        el.addEventListener("click", (e: Event) => {
          const target = e.target as HTMLElement;

          document.querySelectorAll(".galleryButton").forEach(function (
            el: any,
          ) {
            console.log(el);
            el.classList.remove("active");
          });

          target.classList.add("active");
          const cup = target.dataset.cup;
          document.querySelectorAll(".galleryTab").forEach(function (el: any) {
            el.style.display = "none";
          });

          document.getElementById(cup!)!.style.display = "block";
        });
      });
    });
  </script>

  <h1>Galleri</h1>

  <div class="pictureGrid">
    <img
      src="/public/gallerypage/moodPicture1.webp"
      alt="stemningsbillede"
      id="picture1"
    />
    <img
      src="/public/gallerypage/moodPicture2.webp"
      alt="stemningsbillede"
      id="picture2"
    />
    <img
      src="/public/gallerypage/moodPicture3.webp"
      alt="stemningsbillede"
      id="picture3"
    />
    <img
      src="/public/gallerypage/moodPicture4.webp"
      alt="stemningsbillede"
      id="picture4"
    />
  </div>
  <section id="galleryWinners">
    <div class="selector">
      <SelectButton Class="active" Text="Galleri" Cup="galleri" />
      <SelectButton Text="Scoremestre" Cup="scoremester" />
      <SelectButton Text="Klubmestre" Cup="klubmester" />
      <SelectButton Text="Julemestre" Cup="julemester" />
    </div>

    <div id="galleri" class="galleryTab">
      <h2>Galleri</h2>
      <div class="grid">
        <ul class="gallery">
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture1.webp"
              alt="instagram"
            />
          </li>
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture2.webp"
              alt="instagram"
            />
          </li>
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture3.webp"
              alt="instagram"
            />
          </li>
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture4.webp"
              alt="instagram"
            />
          </li>
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture5.webp"
              alt="instagram"
            />
          </li>
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture6.webp"
              alt="instagram"
            />
          </li>
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture7.webp"
              alt="instagram"
            />
          </li>
          <li>
            <img
              src="/public/gallerypage/galleri/galleryPicture8.webp"
              alt="instagram"
            />
          </li>
        </ul>
      </div>
    </div>
    <GalleryTab Data={data} Title="Klubmestre" Cup="klubmester" />
    <GalleryTab Data={data} Title="Scoremestre" Cup="scoremester" />

    <GalleryTab Data={data} Title="Julemestre" Cup="julemester" />

    <!--     
    <div id="scoremester" class="galleryTab" style="display:none">
      <h2>Scoremestre</h2>
      <div class="grid">
        <ul>
          {
            data
              .filter((d) => d.cup === "scoremester")
              .map((product, index) => (
                <GalleryCard product={product} index={index} />
              ))
          }
        </ul>
      </div>
    </div>

    <div id="klubmester" class="galleryTab" style="display:none">
      <h2>Klubmestre</h2>
      <div class="grid">
        <ul>
          {
            data
              .filter((d) => d.cup === "klubmester")
              .map((product, index) => (
                <GalleryCard product={product} index={index} />
              ))
          }
        </ul>
      </div>
    </div>

    <div id="julemester" class="galleryTab" style="display:none">
      <h2>Julemestre</h2>
      <div class="grid">
        <ul>
          {
            data
              .filter((d) => d.cup === "julemester")
              .map((product, index) => (
                <GalleryCard product={product} index={index} />
              ))
          }
        </ul>
      </div>
    </div> -->
  </section>
</Layout>
<style>
  ul,
  .gallery {
    display: contents;
  }
  .pictureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 20px;
  }
  .pictureGrid img {
    border-radius: var(--BorderRadiusSmall);
    object-fit: cover;

    height: 100%;
  }

  #picture1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #picture4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: auto auto auto;
    margin: 0 auto;
    gap: 25px;
    margin: 20px;
  }

  .gallery img {
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .selector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  li {
    list-style: none;
  }

  @media (min-width: 800px) {
    .pictureGrid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    #picture1 {
      grid-column: 1/3;
      grid-row: 1/3;
      object-fit: cover;
    }
    #picture2 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    #picture3 {
      grid-column: 4/5;
      grid-row: 1/2;
    }

    #picture4 {
      grid-column: 3/5;
      grid-row: 2/3;
    }
  }
</style>
<script></script>
