---
const Title = Astro.props.Title;
const Paragraph1 = Astro.props.Paragraph1;
const Paragraph2 = Astro.props.Paragraph2;
const Image = Astro.props.Image;
const ImageAlt = Astro.props.ImageAlt;
---

<article>
  <div class="dropdown">
    <span> <h2>{Title}</h2></span>
    <div class="dropdownContent">
      <p class="p1">{Paragraph1}</p>
      <p class="p2">{Paragraph2}</p>
      <img src={Image} alt={ImageAlt} />
    </div>
  </div>
</article>

<style>
  article {
    background-color: var(--White);
    box-shadow: var(--BoxShadow);
    border-radius: var(--BorderRadiusBig);
    margin: 2rem auto;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
  }

h2 {
    padding: 0;
    text-align: left;
  }

  p {
    padding: 1rem 0;
  }

  .dropdown {
    position: relative;
    display: block;
    width: 100%;
  }

  .dropdownContent {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: auto;
  }

  .dropdown:hover .dropdownContent {
    display: initial;
  }

</style>
