---
const Year = Astro.props.Year;
const Name = Astro.props.Name;
const Type = Astro.props.Type;

const { event } = Astro.props;
const Url = `/eventpage/${event.EventImage}.webp`;
console.log(event);
---

<li>
  <article class={event.cup}>
    <h2>{event.EventName}</h2>
    <h3>{event.EventDate}</h3>
    <h4>kl {event.EventTimeStart}-{event.EventTimeEnd}</h4>
    <p>{event.EventDiscription}</p>
    <img src={Url} alt="billede blev ikke fundet" />
  </article>
</li>
<style>
  article {
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    border-radius: var(--BorderRadiusBig);
    background-color: var(--White);
    box-shadow: var(--BoxShadow);
    margin 2rem;
    max-width: 415px;
    padding: 25px;
  }

  article img {
    margin-top: 10px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  li {
    display: grid;
  }
  h2 {
    color: var(-Red100, #d71330);
    font-family: Cabin;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8125rem;
    margin: 0px;
  }
  h3,
  h4 {
    padding: 0.8rem 1rem 0.2rem 1rem;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
</style>
