---
const Year = Astro.props.Year;
const Name = Astro.props.Name;
const Type = Astro.props.Type;

const { product } = Astro.props;
const Url = `../../public/gallerypage/${product.cup}/${product.cup}${product.year}.webp`;
console.log(product);
---

<article class={product.cup}>
  <h2>{product.cup} {product.year}</h2>
  <h1>{product.name}</h1>
  <img src={Url} alt="billede blev ikke fundet" />
</article>
<!-- oooppsi -->
<style>
  h2 {
    text-transform: capitalize;
    color: aqua;
  }
  h1 {
    text-transform: capitalize;
  }
  article {
    border-radius: 15px;
    display: flex;
    max-width: 250px;
    padding: 7px 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: var(--white);
    margin: 0 auto;
  }
  article img {
    aspect-ratio: 233.12/301.71;
    max-width: 233.117px;
    object-fit: cover;
  }
</style>
