---
const Year = Astro.props.Year;
const Name = Astro.props.Name;
const Type = Astro.props.Type;

const { product } = Astro.props;
const Url = `../../public/gallerypage/${product.cup}/${product.cup}${product.year}.webp`;
console.log(product);
---

<li>
  <article class={product.cup}>
    <h2>{product.cup} {product.year}</h2>
    <h1>{product.name}</h1>
    <img src={Url} alt="billede blev ikke fundet" />
  </article>
  <!-- oooppsi -->
</li>
<style>
  li {
    display: grid;
  }
  h2 {
    text-transform: capitalize;
    color: var(--Green100);
    font-size: 1.25rem;
  }
  h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-family: cabin, sans-serif;
  }
  article {
    border-radius: 15px;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    max-width: 250px;
    padding: 7px 8px;
    gap: 4px;
    background-color: var(--White);
    text-align: center;
    margin: 0 auto;
  }
  article img {
    aspect-ratio: 233.12/301.71;
    max-width: 233.117px;
    object-fit: cover;
  }
</style>
